{% extends "base1.html" %}
{% block page_content %}
    <div class="col-sm-12">
        <!--左边栏 两个柱状图 -->
        <div id="bar" class="col-sm-3" style="height: 890px">
            <div id="bar1" class="col-sm-12" style="height: 445px"></div>
            <div id="bar2" class="col-sm-12" style="height: 445px"></div>
        </div>
        <!--中间区域 标题、地图、时间、监控覆盖率、设备使用率 -->
        <div class="col-sm-6" style="height: 890px; background-color:#17405f">
            <div class="col-sm-12" style="height: 60px">
                <h2 class="text-center" style="color: #5acde2; font-weight: lighter" >中国检验检疫科学研究院大型科研仪器动态监控系统</h2>
                <!--<h2 class="text-center" style="color: #5acde2;" >DATA MONITOR VIEW BOARD</h2>-->
            </div>
            <div id="chinaMap" class="col-sm-12" style="height: 700px"></div>
            <div class="col-sm-12">
                <div class="col-sm-2" style="height: 60px">
                    <h5 class="text-center" style="color: #5acde2; font-weight: lighter">监控覆盖率</h5>
                    <h1 class="text-center" style="color: #5acde2; font-weight: lighter" >45%</h1>
                </div>
                <div class="col-sm-2" style="height: 60px">
                    <h5 class="text-center" style="color: #5acde2; font-weight: lighter" >设备使用率</h5>
                    <h1 class="text-center" style="color: #5acde2; font-weight: lighter" >45%</h1>
                </div>
                <div class="col-sm-4" style="height: 60px" onload="startTime()">
                <!--<div class="col-sm-8" style="height: 60px">-->
                    <h5 id="nowDate" class="text-center" style="color: #5acde2; font-weight: lighter" ></h5>
                    <h1 id="nowTime" class="text-center" style="color: #5acde2; font-weight: lighter" ></h1>
                </div>
                <div class="col-sm-4">
                    <!--天气-->
                    <div class="col-sm-4">
                        <!--天气图片-->
                        <img src="{{weathre_img_path}}" style="width: 80px">
                    </div>
                    <div class="col-sm-8">
                        <h5 style="color: #5acde2; font-weight: lighter; text-align: right">{{weather_data[1]}} {{weather_data[2]}}</h5>
                        <h1 style="color: #5acde2; font-weight: lighter; text-align: right">{{weather_data[0]}} ℃</h1>
                    </div>
                </div>
            </div>

        </div>
        <div id="bar" class="col-sm-3" style="height: 890px">
            <!--右边栏 散点图、饼图 -->
            <div id="device_monitor" class="col-sm-12" style="height: 600px"></div>
            <div id="pie" class="col-sm-12" style="height: 290px"></div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src='/static/js/jquery.js'></script>
    <!--<script src='/static/js/jquery.dataTables.min.js'></script>-->
    <!--<script src="/static/js/jquery.min.js"></script>-->
    <script src="/static/js/jquery.leoweather.min.js"></script>
    <script src='/static/js/echarts.min.js'></script>
    <script src='/static/js/china1.js'></script>

    <script language="JavaScript">
        function startTime(){
            var today=new Date();//定义日期对象
            var yyyy = today.getFullYear();//通过日期对象的getFullYear()方法返回年
            var MM = today.getMonth()+1;//通过日期对象的getMonth()方法返回年月
            var dd = today.getDate();//通过日期对象的getDate()方法返回日期
            var hh=today.getHours();//通过日期对象的getHours方法返回小时
            var mm=today.getMinutes();//通过日期对象的getMinutes方法返回分钟
            var ss=today.getSeconds();//通过日期对象的getSeconds方法返回秒
            // 如果分钟或小时的值小于10，则在其值前加0，比如如果时间是下午3点20分9秒的话，则显示15：20：09
            MM=checkTime(MM);
            dd=checkTime(dd);
            mm=checkTime(mm);
            ss=checkTime(ss);
            var day; //用于保存星期（getDay()方法得到星期编号）
            if(today.getDay()==0)   day   =   "星期日 " ;
            if(today.getDay()==1)   day   =   "星期一 " ;
            if(today.getDay()==2)   day   =   "星期二 " ;
            if(today.getDay()==3)   day   =   "星期三 " ;
            if(today.getDay()==4)   day   =   "星期四 " ;
            if(today.getDay()==5)   day   =   "星期五 " ;
            if(today.getDay()==6)   day   =   "星期六 " ;
            document.getElementById('nowDate').innerHTML=yyyy+"年"+MM +"月"+ dd +"日 " + day;
            document.getElementById('nowTime').innerHTML=hh + ":" + mm + ":" + ss;
        }
        function checkTime(i){

            if (i<10){
                i="0" + i;
            }
            return i;
        }
        setInterval(startTime,1000);//每一秒中重新加载startTime()方法
    </script>

    <script type='text/javascript'>
            option = {
            title : {
                text: '比例图',
                x:'center',
                textStyle: {//标题颜色
                        color: '#5acde2',
                        fontSize:14
                }
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                show: false,
                orient: 'vertical',
                left: 'left',
                data: ['部门1','部门2','部门3'],
                textStyle: {//标题颜色
                        color: '#5acde2'
                }
            },
            color:['#5acde2', '#7c999f','#3a6d92'],
            series : [
                {
                    name: '访问来源',
                    type: 'pie',
                    radius :['50%', '70%'],
                    center: ['50%', '50%'],
                    data:[{% for date in pie_data %} {value:{{date[0]}}, name:{{date[1]|tojson}}}, {% endfor %}],
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };
        var myChart4 = echarts.init(document.getElementById('pie'));
        myChart4.setOption(option);

    </script>
    <script type='text/javascript'>
        var xx = ['x0', 'x1', 'x2', 'x3', 'x4', 'x5', 'x6','x7','x8','x9','x0', 'x1', 'x2', 'x3', 'x4', 'x5','x6','x7','x8','x9'];
        var yy = ['y0', 'y1', 'y2','y3', 'y4', 'y5', 'y6','y7','y8','y9','y0', 'y1', 'y2','y3', 'y4', 'y5', 'y6','y7','y8','y9','y0', 'y1', 'y2','y3'];
        // var data = [[0,4,'设备名称：设备1 <br> 资产编号：ABC123'],[3,3,1],[2,6,1],[5,7,1],[0,8,1],[15,9,2]];
        // var data1 = [[0,0,'设备名称：设备1 <br> 资产编号：ABC123'],[0,1,'设备2'],[0,2,'设备3'],[0,23,'设备4']];
        // var data2 = [[1,1,'设备名称：设备1 <br> 资产编号：ABC123'],[3,2,20],[6,3,20]];
        // var data3 = [[12,19,'设备名称：设备1 <br> 资产编号：ABC123'],[12,22,20],[12,23,20]];

        var data  = [{% for date in device_monitor_data[0] %} [{{date[0]}},{{date[1]}},{{date[2]|tojson}}], {% endfor %}];
        var data1 = [{% for date in device_monitor_data[1] %} [{{date[0]}},{{date[1]}},{{date[2]|tojson}}], {% endfor %}];
        var data2 = [{% for date in device_monitor_data[2] %} [{{date[0]}},{{date[1]}},{{date[2]|tojson}}], {% endfor %}];
        var data3 = [{% for date in device_monitor_data[3] %} [{{date[0]}},{{date[1]}},{{date[2]|tojson}}], {% endfor %}];

        option = {
            title : {
                text: '设备运行情况',
                x:'center',
                textStyle: {//标题颜色
                        color: '#5acde2',
                        fontSize:14
                }
            },
            tooltip: {
                position: 'top',
                formatter: function(param) {
                            return param.data[2];
                        },
            },
            animation: true,
            legend: {
                data: ['运行', '待机', '关机', '未部署'],
                bottom: 20,
                textStyle: {//标题颜色
                        color: '#5acde2'
                }
            },
            grid: {
                top: '5%',
                left: '2%',
                right: '4%',
                bottom: '9%',
                height: '88%',
                {#y: '3%'#}
            },
            xAxis: {
                show : false,
                type: 'category',
                data: xx,
                splitArea: {
                    show: false
                }
            },
            yAxis: {
                show : false,
                type: 'category',
                data: yy,
                splitArea: {
                    show: false
                }
            },
            series: [
                {
                name: '运行',
                type: 'scatter',
                symbolSize: 10,
                data: data,
                label: {
                    normal: {
                        show: false
                    }
                },
                itemStyle: {
                    normal:{
                        color:'#499f68'
                    },
                    emphasis: {
                        shadowBlur: 10,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }},
                {
                name: '待机',
                type: 'scatter',
                symbolSize: 10,
                data: data1,
                label: {
                    normal: {
                        show: false
                    }
                },
                itemStyle: {
                    normal:{
                        color:'#5acde2'
                    },
                    emphasis: {
                        shadowBlur: 10,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }},
                {
                name: '关机',
                type: 'scatter',
                symbolSize: 10,
                data: data2,
                label: {
                    normal: {
                        show: false
                    }
                },
                itemStyle: {
                    normal:{
                        color:'#32709f'
                    },
                    emphasis: {
                        shadowBlur: 10,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }},
                {
                name: '未部署',
                type: 'scatter',
                symbolSize: 10,
                data: data3,
                label: {
                    normal: {
                        show: false
                    }
                },
                itemStyle: {
                    normal:{
                        color:'#969696'
                    },
                    emphasis: {
                        shadowBlur: 10,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }}

            ]
        };
        var myChart3 = echarts.init(document.getElementById('device_monitor'));
        myChart3.setOption(option);

    </script>


    <script type='text/javascript'>
        option = {
            title: {
                text: '监控覆盖率 vs 平均设备使用率',
                textStyle: {//标题颜色
                        color: '#5acde2',
                　　　　 fontSize:14
                }
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            legend: {
                show: false,
                data: ['监控覆盖率', '平均设备使用率']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                top: '5%',
                containLabel: true
            },
            xAxis: {
                show: false,
                type: 'value',
                axisLabel: {
                    show: false,
                    textStyle: {
                        color: '#fff'
                    }
                },
                splitLine:{
                    show:false
                },
                boundaryGap: [0, 0.01]
            },
            yAxis: {
                type: 'category',
                axisLabel: {
                    {#show: true,#}
                    textStyle: {
                        color: '#5acde2'
                    }
                },
                data: [{% for date in department_name %} '{{date}}', {% endfor %}]
            },
            series: [
                {
                    name: '监控覆盖率',
                    type: 'bar',
                    data: [{% for date in monitoring_coverage_rate %} {{date}}, {% endfor %}],
                    itemStyle:{
                        normal:{
                            label: {
                                show: true,
                                position: 'right'
                            },
                            color:'#3a6d92'
                            }
                        },
                },
                {
                    name: '平均设备使用率',
                    type: 'bar',
                    data: [{% for date in avg_device_using_rate %} {{date}}, {% endfor %}],
                    itemStyle:{
                        normal:{
                            label: {
                                show: true,
                                position: 'right'
                            },
                            color:'#7c999f'
                        }
                    },
                }
            ]
        };
        var myChart2 = echarts.init(document.getElementById('bar1'));
        myChart2.setOption(option);

    </script>

        <script type='text/javascript'>
        option = {
            title: {
                text: '年平均运行有效机时 vs 年平均共享服务机时',
                textStyle: {//标题颜色
                        color: '#5acde2',
                　　　　 fontSize:14
                }
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            legend: {
                show: false,
                data: ['年平均运行有效机时', '年平均共享服务机时']
            },
            grid: {
                show: false,
                left: '3%',
                right: '4%',
                bottom: '3%',
                top: '5%',
                containLabel: true
            },
            xAxis: {
                show: false,
                type: 'value',
                axisLabel: {
                    show: false,
                    textStyle: {
                        color: '#fff'
                    }
                },
                splitLine:{
                    show:false
                },
                boundaryGap: [0, 0.01]
            },
            yAxis: {
                type: 'category',
                axisLabel: {
                    show: true,
                    textStyle: {
                        color: '#5acde2'
                    }
                },
                data: [{% for date in department_name %} '{{date}}', {% endfor %}]
            },
            series: [
                {
                    name: '年平均运行有效机时',
                    type: 'bar',
                    data: [{% for date in running_effective_time_year %} {{date}}, {% endfor %}],
                    itemStyle:{
                        normal:{
                            label: {
                                show: true,
                                position: 'right'
                            },
                            color:'#3a6d92'
                        }
                    },
                },
                {
                    name: '年平均共享服务机时',
                    type: 'bar',
                    data: [{% for date in shared_service_time_year %} {{date}}, {% endfor %}],
                    itemStyle:{
                        normal:{
                            label: {
                                show: true,
                                position: 'right'
                            },
                            color:'#7c999f'
                        }
                    },
                }
            ]
        };
        var myChart2 = echarts.init(document.getElementById('bar2'));
        myChart2.setOption(option);

    </script>

    <script type='text/javascript'>

        var geoCoordMap = {
            "海门":[121.15,31.89],
            "鄂尔多斯":[109.781327,39.608266],
            "招远":[120.38,37.35],
            "舟山":[122.207216,29.985295],
            "齐齐哈尔":[123.97,47.33],
            "盐城":[120.13,33.38],
            "赤峰":[118.87,42.28],
            "青岛":[120.33,36.07],
            "乳山":[121.52,36.89],
            "金昌":[102.188043,38.520089],
            "泉州":[118.58,24.93],
            "莱西":[120.53,36.86],
            "日照":[119.46,35.42],
            "胶南":[119.97,35.88],
            "南通":[121.05,32.08],
            "拉萨":[91.11,29.97],
            "云浮":[112.02,22.93],
            "梅州":[116.1,24.55],
            "文登":[122.05,37.2],
            "上海":[121.48,31.22],
            "攀枝花":[101.718637,26.582347],
            "威海":[122.1,37.5],
            "承德":[117.93,40.97],
            "厦门":[118.1,24.46],
            "汕尾":[115.375279,22.786211],
            "潮州":[116.63,23.68],
            "丹东":[124.37,40.13],
            "太仓":[121.1,31.45],
            "曲靖":[103.79,25.51],
            "烟台":[121.39,37.52],
            "福州":[119.3,26.08],
            "瓦房店":[121.979603,39.627114],
            "即墨":[120.45,36.38],
            "抚顺":[123.97,41.97],
            "玉溪":[102.52,24.35],
            "张家口":[114.87,40.82],
            "阳泉":[113.57,37.85],
            "莱州":[119.942327,37.177017],
            "湖州":[120.1,30.86],
            "汕头":[116.69,23.39],
            "昆山":[120.95,31.39],
            "宁波":[121.56,29.86],
            "湛江":[110.359377,21.270708],
            "揭阳":[116.35,23.55],
            "荣成":[122.41,37.16],
            "连云港":[119.16,34.59],
            "葫芦岛":[120.836932,40.711052],
            "常熟":[120.74,31.64],
            "东莞":[113.75,23.04],
            "河源":[114.68,23.73],
            "淮安":[119.15,33.5],
            "泰州":[119.9,32.49],
            "南宁":[108.33,22.84],
            "营口":[122.18,40.65],
            "惠州":[114.4,23.09],
            "江阴":[120.26,31.91],
            "蓬莱":[120.75,37.8],
            "韶关":[113.62,24.84],
            "嘉峪关":[98.289152,39.77313],
            "广州":[113.23,23.16],
            "延安":[109.47,36.6],
            "太原":[112.53,37.87],
            "清远":[113.01,23.7],
            "中山":[113.38,22.52],
            "昆明":[102.73,25.04],
            "寿光":[118.73,36.86],
            "盘锦":[122.070714,41.119997],
            "长治":[113.08,36.18],
            "深圳":[114.07,22.62],
            "珠海":[113.52,22.3],
            "宿迁":[118.3,33.96],
            "咸阳":[108.72,34.36],
            "铜川":[109.11,35.09],
            "平度":[119.97,36.77],
            "佛山":[113.11,23.05],
            "海口":[110.35,20.02],
            "江门":[113.06,22.61],
            "章丘":[117.53,36.72],
            "肇庆":[112.44,23.05],
            "大连":[121.62,38.92],
            "临汾":[111.5,36.08],
            "吴江":[120.63,31.16],
            "石嘴山":[106.39,39.04],
            "沈阳":[123.38,41.8],
            "苏州":[120.62,31.32],
            "茂名":[110.88,21.68],
            "嘉兴":[120.76,30.77],
            "长春":[125.35,43.88],
            "胶州":[120.03336,36.264622],
            "银川":[106.27,38.47],
            "张家港":[120.555821,31.875428],
            "三门峡":[111.19,34.76],
            "锦州":[121.15,41.13],
            "南昌":[115.89,28.68],
            "柳州":[109.4,24.33],
            "三亚":[109.511909,18.252847],
            "自贡":[104.778442,29.33903],
            "吉林":[126.57,43.87],
            "阳江":[111.95,21.85],
            "泸州":[105.39,28.91],
            "西宁":[101.74,36.56],
            "宜宾":[104.56,29.77],
            "呼和浩特":[111.65,40.82],
            "成都":[104.06,30.67],
            "大同":[113.3,40.12],
            "镇江":[119.44,32.2],
            "桂林":[110.28,25.29],
            "张家界":[110.479191,29.117096],
            "宜兴":[119.82,31.36],
            "北海":[109.12,21.49],
            "西安":[108.95,34.27],
            "金坛":[119.56,31.74],
            "东营":[118.49,37.46],
            "牡丹江":[129.58,44.6],
            "遵义":[106.9,27.7],
            "绍兴":[120.58,30.01],
            "扬州":[119.42,32.39],
            "常州":[119.95,31.79],
            "潍坊":[119.1,36.62],
            "重庆":[106.54,29.59],
            "台州":[121.420757,28.656386],
            "南京":[118.78,32.04],
            "滨州":[118.03,37.36],
            "贵阳":[106.71,26.57],
            "无锡":[120.29,31.59],
            "本溪":[123.73,41.3],
            "克拉玛依":[84.77,45.59],
            "渭南":[109.5,34.52],
            "马鞍山":[118.48,31.56],
            "宝鸡":[107.15,34.38],
            "焦作":[113.21,35.24],
            "句容":[119.16,31.95],
            "北京":[116.46,39.92],
            "徐州":[117.2,34.26],
            "衡水":[115.72,37.72],
            "包头":[110,40.58],
            "绵阳":[104.73,31.48],
            "乌鲁木齐":[87.68,43.77],
            "枣庄":[117.57,34.86],
            "杭州":[120.19,30.26],
            "淄博":[118.05,36.78],
            "鞍山":[122.85,41.12],
            "溧阳":[119.48,31.43],
            "库尔勒":[86.06,41.68],
            "安阳":[114.35,36.1],
            "开封":[114.35,34.79],
            "济南":[117,36.65],
            "德阳":[104.37,31.13],
            "温州":[120.65,28.01],
            "九江":[115.97,29.71],
            "邯郸":[114.47,36.6],
            "临安":[119.72,30.23],
            "兰州":[103.73,36.03],
            "沧州":[116.83,38.33],
            "临沂":[118.35,35.05],
            "南充":[106.110698,30.837793],
            "天津":[117.2,39.13],
            "富阳":[119.95,30.07],
            "泰安":[117.13,36.18],
            "诸暨":[120.23,29.71],
            "郑州":[113.65,34.76],
            "哈尔滨":[126.63,45.75],
            "聊城":[115.97,36.45],
            "芜湖":[118.38,31.33],
            "唐山":[118.02,39.63],
            "平顶山":[113.29,33.75],
            "邢台":[114.48,37.05],
            "德州":[116.29,37.45],
            "济宁":[116.59,35.38],
            "荆州":[112.239741,30.335165],
            "宜昌":[111.3,30.7],
            "义乌":[120.06,29.32],
            "丽水":[119.92,28.45],
            "洛阳":[112.44,34.7],
            "秦皇岛":[119.57,39.95],
            "株洲":[113.16,27.83],
            "石家庄":[114.48,38.03],
            "莱芜":[117.67,36.19],
            "常德":[111.69,29.05],
            "保定":[115.48,38.85],
            "湘潭":[112.91,27.87],
            "金华":[119.64,29.12],
            "岳阳":[113.09,29.37],
            "长沙":[113,28.21],
            "衢州":[118.88,28.97],
            "廊坊":[116.7,39.53],
            "菏泽":[115.480656,35.23375],
            "合肥":[117.27,31.86],
            "武汉":[114.31,30.52],
            "大庆":[125.03,46.58]
        };
        var max = 480, min = 9;
        var maxSize4Pin = 100, minSize4Pin = 20;

        var convertData = function (data) {
            var res = [];
            for (var i = 0; i < data.length; i++) {
                var geoCoord = geoCoordMap[data[i].name];
                if (geoCoord) {
                    res.push({
                        name: data[i].name,
                        value: geoCoord.concat(data[i].value)
                    });
                }
            }
            return res;
        };

        var data = [
                        {name: "石家庄", value: 20},
                        {name: "天津", value: 7},
                        {name: "上海", value: 3},
                        {name: "郑州", value: '1'},
                        {name: "北京", value: '<br> 亦庄：324 <br> 双桥：28 <br> 汇龙森：14 <br> 高碑店：68 <br>'},
                    ];

        option = {
            backgroundColor: '#17405f',
            title: {
                show:false,
                text: '全国分布图',
                {#subtext: 'Data from ABC',#}
                {#sublink: 'http://www.baidu.com',#}
                x:'center',
                textStyle: {
                    color: '#5acde2'
                }
            },
            tooltip: {
                trigger: 'item',
                formatter: function (params) {
                    return params.name + ' : ' + params.value[2];
                }
            },
            legend: {
                orient: 'vertical',
                y: 'bottom',
                x:'right',
                data:['Num'],
                textStyle: {
                    color: '#fff'
                }
            },
            visualMap: {
                min: 0,
                max: 200,
                calculable: true,
                inRange: {
                    color: ['#eac736', '#d94e5d']
                },
                textStyle: {
                    color: '#fff'
                }
            },
            geo: {
                map: 'china',
                center: [104.114129, 37.550339],
                zoom: 1.3,
                roam: false,
                label: {
                    emphasis: {
                        show: false
                    }
                },
                itemStyle: {
                    normal: {
                        areaColor: '#004981',
                        borderColor: '#ddb926'
                    },
                    emphasis: {
                        areaColor: '#004982'
                    }
                }
            },
            series: [
                {
                    name: 'point',
                    type: 'scatter',
                    coordinateSystem: 'geo',
                    symbol: 'pin', //气泡
                    symbolSize: 40,
                    label: {
                        normal: {
                            show: false,
                            textStyle: {
                                color: '#fff',
                                fontSize: 9,
                            }
                        }
                    },
                    itemStyle: {
                        normal: {
                            color: '#F62157', //标志颜色
                        }
                    },
                    zlevel: 100,
                    data: convertData(data),
                }
            ]
        };

        var myChart1 = echarts.init(document.getElementById('chinaMap'));
        myChart1.setOption(option);

    </script>
{% endblock %}